* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: black;
}

/* navigation */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#nav-logo {
  width: 160px;
  height: 45px;
  object-fit: contain;
}
#hamburger-menu {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

/* header */
.linear-gradient-container {
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  background-image: linear-gradient(
    to right,
    #7abfab 0%,
    #2d6450 30%,
    #3c7155 70%
  );
  overflow: hidden;
}
.header-info-text-container .store-platform-container {
  display: flex;
  flex-direction: row;
}
.header-info-text-container .app-store {
  width: 130px;
  height: 40px;
  margin-right: 10px;
}
.header-info-text-container .google-play {
  width: 125px;
  height: 40px;
}
