* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

/* navigation */
nav {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width: 100%;
}
#nav-logo {
  width: 160px;
  height: 45px;
  margin-top: 5px;
  object-fit: contain;
}
#hamburger-menu {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

/* header */
.linear-gradient-container {
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  background-image: linear-gradient(
    to right,
    #7abfab 0%,
    #2d6450 30%,
    #3c7155 70%
  );
  overflow: hidden;
  padding-top: 50px; /* Adds space to account for the height of the fixed navigation bar */
}
.header-info-text-container .store-platform-container {
  display: flex;
  flex-direction: row;
}
.header-info-text-container .app-store {
  width: 130px;
  height: 40px;
  margin-right: 10px;
}
.header-info-text-container .google-play {
  width: 125px;
  height: 40px;
}

/* featured-in */
.header-info-text-container .title {
  font-size: clamp(2rem, 5vw, 3rem);
}
.featured-in-container {
  margin-top: 50px;
}
.featured-in-title {
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Trebuchet MS", sans-serif;
}
.brand-container > img {
  width: 100px;
  height: 40px;
  object-fit: contain;
}

/* our-partners */
.partners-right > video {
  width: 100%;
  height: auto;
}
.partners-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.partner-img {
  width: 100%;
  height: 100%;
  border-radius: 200px;
}
.partner-name-text {
  margin-top: 10px;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}
.partners-title {
  color: #00a84f;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
  font-family: "Trebuchet MS", sans-serif;
}
.partners-heading {
  color: #fff;
  font-weight: bold;
  text-align: left;
  margin-bottom: 15px;
  font-family: "Trebuchet MS", sans-serif;
}
.partners-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  grid-template-rows: repeat(2, auto);
  gap: 5%;
}

/* common */
.section-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
}
.section-main-header {
  font-size: 2.5rem;
  color: white;
  margin-top: 20px;
}
.section-sub-header {
  font-size: 1.5rem;
  color: white;
  margin-top: 10px;
}
.explanation-sub-header-paragraph {
  color: #fff;
  font-size: 1.25rem;
  line-height: 30px;
}
.explanation-main-header {
  color: #00a84f;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

#features {
  padding-top: 100px;
}

/* celebrity-mindsets */
.celebrity-mindsets-container {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
}
.cards-grid-container img {
  width: 100%;
  height: 100%;
}

/* what-is-mindset */
.what-is-mindset-container {
  padding-top: 150px;
}

/* division */
.division {
  width: 100%;
  height: 1.5px;
  background-color: #313131;
}
.division-faq-gap {
  margin-top: 30px;
  margin-bottom: 10px;
}

/* try-free */
.try-free-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 2%;
}
.try-free-mockup-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3%;
}

/* what-users-think */
.what-users-think-container {
  padding-top: 100px;
  margin-bottom: 10%;
}
.star-container {
  margin-bottom: 10px;
}
.star {
  width: 15px;
  height: 15px;
  margin-right: 7px;
}
.review-title {
  color: #000;
  font-size: 1.25rem;
  margin-bottom: 10px;
  font-weight: bold;
}
.review-content {
  color: #245046;
  font-size: 0.9rem;
  line-height: 25px;
  margin-bottom: 20px;
}
.reviewer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reviewer-img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}
.reviewer-name {
  color: #000;
  font-size: 1.25rem;
  color: #245046;
  margin-left: 12px;
  font-weight: bold;
}

/* faq */
.faq-container {
  margin-bottom: 70px;
}
.faq-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
.question-text {
  color: #fff;
  font-size: 1.2rem;
}
.answer-text {
  color: #fff;
  font-size: 1rem;
}

/* subscribe */
.subscribe-container {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe-container > .title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 18px;
}
.subscribe-container > .content {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
  line-height: 28px;
}

/* footer */
footer {
  background-color: #245046;
}
footer > .division-container {
  height: 1.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #245046;
}
footer > .division-container > .division {
  width: 95%;
  height: 0.5px;
  background-color: #a8b5ac;
}
footer > .copyright-text {
  color: #fff;
  font-size: 0.9rem;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #245046;
}
footer > .info-container > .logo-container > .logo {
  width: 160px;
  height: 45px;
  margin-bottom: 15px;
}
footer > .info-container > .logo-container > .app-store {
  width: 130px;
  height: 40px;
  margin-bottom: 10px;
}
footer > .info-container > .logo-container > .google-play {
  width: 125px;
  height: 40px;
}
footer > .info-container .menu-item a {
  color: #fff;
  font-size: 1rem;
}
