@media (max-width: 700px) {
  /* navigation */
  nav {
    padding: 15px 20px;
    background-color: #fff78ddf;
  }
  nav ul {
    display: none;
  }

  /* common */
  .explanation-main-header {
    text-align: center;
  }

  /* header */
  #header-img {
    width: 100%;
    height: auto;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
  }
  .header-info-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    align-self: center;
    padding-top: 40px;
    padding-bottom: 70px;
  }
  .header-info-text-container .title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    margin-left: 8px;
    font-family: "Trebuchet MS", sans-serif;
    text-align: center;
  }
  .header-info-text-container .content {
    font-size: 1.2rem;
    line-height: 2rem;
    color: #fff;
    margin-bottom: 40px;
    margin-left: 8px;
    text-align: center;
  }

  /* featured-in */
  .brand-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0px 5% 100px 5%;
  }

  /* our partners */
  .partners-container {
    padding: 0px 5% 0px 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .partners-grid-container {
    justify-content: center;
  }
  .partners-right {
    padding-top: 50px;
  }
  .partners-heading {
    font-size: 2.5rem;
  }

  /* celebrity-mindsets */
  .cards-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 28%);
    grid-template-rows: repeat(4, auto);
    gap: 3%;
    justify-content: center;
  }

  /* what-is-mindset */
  .what-is-mindset-container {
    display: flex;
    flex-direction: column;
    padding: 0px 10%;
    margin-bottom: 80px;
  }
  .what-is-mindset-right {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .what-is-mindset-right > iframe {
    width: 450px;
    height: 260px;
  }

  /* mindset-features */
  .mindset-features-container {
    display: flex;
    flex-direction: column;
    padding: 0px 10%;
    margin-bottom: 80px;
    gap: 5%;
  }
  .mindset-features-container > .explanation-box {
    order: 1;
  }
  .mindset-features-container > .image-box {
    order: 2;
    width: 80%;
    height: auto;
    margin-top: 30px;
  }

  /* mockup */
  .mockup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 5%;
  }
  .mockup-container-text-part {
    order: 1;

    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
  }
  .mockup-container-img-part {
    order: 2;

    display: flex;
    justify-content: center;
  }
  .mockup-img-phone {
    width: 60%;
    height: auto;
    object-fit: contain;
  }
  .mockup-img-labtop {
    width: 90%;
    height: auto;
    object-fit: contain;
  }

  /* try-free */
  .try-free-mockup-container > .first-mockup {
    width: 60px;
    height: 120px;
  }
  .try-free-mockup-container > .second-mockup {
    width: 100px;
    height: 200px;
  }
  .try-free-mockup-container > .third-mockup {
    width: 150px;
    height: 300px;
  }

  /* what-users-think */
  .review-list-container {
    display: flex;
    flex-direction: row;
    padding: 0px 3%;
    gap: 15px;
    overflow-x: scroll;
  }
  .review-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 350px;
    width: 350px;
    height: 330px;
    border-radius: 15px;
    background-color: #ebebeb;
    padding: 25px;
    padding-top: 20px;
  }

  /* faq */
  .qna-container {
    width: 85%;
  }

  /* subscribe */
  .subscribe-container > .content {
    width: 80%;
  }
  .subscribe-container > .button-container-general {
    display: none;
  }
  .subscribe-container > .button-container-mobile {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  .subscribe-container > .button-container-mobile > input {
    border: none;
    width: 300px;
    height: 50px;
    padding: 0px 20px;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 10px;
  }
  .subscribe-container > .button-container-mobile > button {
    border: none;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    background-color: #00a84f;
    font-size: 1.2rem;
    color: #fff;
  }

  /* footer */
  footer > .info-container {
    display: flex;
    flex-direction: column;
    background-color: #245046;
    padding: 50px 5%;
  }
  footer > .info-container > .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  footer > .info-container > .menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
  }
  footer > .info-container .menu-category {
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  footer > .info-container .menu-item {
    margin-bottom: 14px;
  }
  .sns-container-large-screen {
    display: none;
  }
  .sns-container-small-screen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }
  .sns-item {
    width: 30px;
    height: 30px;
  }
}
