@media (min-width: 700px) and (max-width: 1000px) {
  /* navigation */
  nav {
    padding: 15px 20px;
    background-color: #e07726d9;
  }
  nav ul {
    display: none;
  }

  /* header */
  #header-img {
    width: 800px;
    height: 625px;
    align-self: flex-end;
    border-bottom-right-radius: 55px;
  }
  .header-info-text-container {
    position: absolute;
    top: 20%;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 280px;
  }
  .header-info-text-container .title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    margin-left: 8px;
    font-family: "Trebuchet MS", sans-serif;
  }
  .header-info-text-container .content {
    font-size: 1.2rem;
    line-height: 2rem;
    color: #fff;
    margin-bottom: 40px;
    margin-left: 8px;
  }

  /* featured-in */
  .brand-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0px 5% 100px 5%;
  }

  /* our partners */
  .partners-container {
    padding: 0px 5% 0px 10%;
    display: flex;
    flex-direction: row;
    gap: 5%;
  }
  .partners-left {
    flex: 1;
  }
  .partners-right {
    flex: 1;
    align-self: center;
  }
  .partners-heading {
    font-size: 3rem;
  }

  /* celebrity-mindsets */
  .cards-grid-container {
    display: grid;
    grid-template-columns: repeat(6, 13%);
    grid-template-rows: repeat(2, auto);
    gap: 2%;
    justify-content: center;
  }

  /* what-is-mindset */
  .what-is-mindset-container {
    display: flex;
    flex-direction: row;
    padding: 0px 5%;
    gap: 3%;
    margin-bottom: 80px;
  }
  .what-is-mindset-left {
    flex: 1;
  }
  .what-is-mindset-right {
    flex: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .what-is-mindset-right > iframe {
    width: 400px;
    height: 225px;
  }

  /* mindset-features */
  .mindset-features-container {
    display: flex;
    flex-direction: row;
    padding: 0px 5% 0px 3%;
    margin-bottom: 80px;
    gap: 1%;
  }
  .mindset-features-container > .image-box-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mindset-features-container > .image-box-left > img {
    width: 80%;
    height: auto;
  }
  .mindset-features-container > .explanation-box {
    flex: 1;
  }
  .mindset-features-container > .image-box-bottom {
    display: none;
  }
}
